<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="./css/styles.css">
    <title>eventFox</title>
</head>
<body>
    <div class="header">
        <div class="video-container">
            <video autoplay muted plays-inline loop >
                <source src="./images/eventFox.mp4" type="video/mp4">
            </video>
        </div>
        <div class="overlay"></div>

        <a href="/" class="links"><h1 id="title"><span style="font-weight: 900;">event</span><span style="color: #b37c07; font-weight: 900;">Fox</span></h1></a>
        <img src="images/fox.png"  id="logo">
       
        <div class="description">
            <h1>The Virtual Box Office for All The Happening Events Around You</h1>
        </div>

        <div class="button">
            <center><a href="/login_signup" class="btn" id="login">Get Started</a></center>
        </div>
        
    </div>
    
</body>
</html>